* {
  margin: 0;
}

.home {
  background-image: url('./assets/imgs/CCC-header.jpg');
  background-size: cover;
  height: 115vh;
  position: relative;
}

.homeCol {
  color: white;
  flex: 1;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
  line-height: 22px;
  padding: 30px;
  text-align: center;
}

#homeContainer {
  background-color: #dcdcdc;
  display: flex;
  height: 340px ;
  justify-content: space-between;
}

.home::before {
  background-color: #1d6cc0;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.18;
  position: absolute;
  right: 0;
  top: 0;
}

.home-1 {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
  position: relative;
  text-align: center;
  z-index:1;
}

.home-2 {
  color: white;
  padding-top: 40px;
  width: 1010px;
}

.header {
  background-color: black;
  color:ivory;
  display: flex;
  height: 150px;
  justify-content: flex-start;
}
.header a {
  color:ivory;
  padding: 20px;
  text-decoration: none;
}
.links {
  display: flex;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
  margin-top: 60px;
  justify-content: center;
}

.d-inline-block {
  margin:5px;
}

.partners {
  max-width: 20%;
  max-height: 20%;
  display: block;
  margin: 10px; 
}

.partnersContainer {
  display: flex;
  flex-Wrap: wrap;
  justify-Content: space-between;
  align-Items: center;
  margin: 50px;
}

.about-main {
  background-color: #dcdcdc;
  flex-direction: column;
}

.about {
  position: relative;
  height: 100vh;
  width: 80vw;
  margin: auto;
  margin-bottom: -150px;
}

.about-photo {
  max-width: 20%;
  max-height: 90%;
  display: block;
  margin: 10px; 
}

.about-photo-two {
  max-width: 20%;
  max-height: 90%;
  display: block;
  margin: 10px; 
}

.about-title {
  padding: 20px;
  text-align: center;
  width: 600px;
}

.about-para {
  padding: 30px;
  text-align: left;
  width: 600px;
}
.about-body {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px;
}

.service-body {
  background-color: #dcdcdc;
}

.service-button {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-box{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color:white;
}


.slick-prev {
  margin-left: 5px; /* Position previous button from the left */
  color: grey;
}

.slick-next {
  margin-right: 5px; /* Position next button from the right */ 
  color: grey;
}


