* {
  margin: 0;
}

.home {
  height: 100vh;
  background-image: url('./assets/imgs/CCC-header.jpg');
  background-size: cover;
  opacity: 80%;

}
.home-1{
  color: ivory;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-2 {
  width: 1010px;
  padding-top: 40px;
}

.header {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  color:ivory;
  height: 150px;
}
.header a {
  text-decoration: none;
  color:ivory;
  padding: 10px;
}
.links {
  margin-top: 60px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.d-inline-block {
  margin:5px;
}
